:root {
  --border-radius: 30px;
  --color-accent: #ff3400;
  --color-body-darker: #5c5577;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-headings: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
  margin: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  position: absolute;
  width: 100vw;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

::selection {
  background: --color-primary;
  text: #fff;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../Images/tick.svg);
  padding-left: 3.5rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.list__plan {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

/* Sprite */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--large {
  width: 50px;
  height: 50px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon--search {
  fill: #fff;
  width: 25px;
  height: 25px;
  padding-right: 15px;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--feature {
  height: 90px;
  width: 90px;
}

.icon-container--accent {
  background: var(--color-accent);
}
/* Buttons */

.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 10px 0px;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
  border: none;
}

.btn--primary:hover {
  background: var(--color-headings);
  color: #fff;
  border: none;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
  border: none;
}

.btn--secondary:hover {
  background: #03c5ee;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ff623a;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px var(--color-headings) solid;
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn.btn--search {
  align-items: center;
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 2rem 5rem 2rem 2.5rem;
  width: auto;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn .icon {
  height: 30px;
  width: 30px;
  padding: 5px;
  vertical-align: middle;
}

@media screen and (min-width: 1024px) {
  .btn--accent {
    height: 63px;
    width: 190px;
  }

  .btn {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 4.8rem;
}

.input-group .btn {
  margin: 4px;
  font-size: 1;
}

.btn .icon-container {
  height: auto;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 3rem;

  justify-content: space-between;
}

.card__header {
  padding: 2rem 3.5rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .card__body {
    padding: 2.5rem 1.5rem;
    min-height: 320px;
  }
}

/* Plans */

.plan__name {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  margin-right: 2rem;
  opacity: 0.8;
}

.plan {
  transition: transform 0.2s ease-out;
}

.card__header .badge {
  font-size: 1.6rem;
  font-weight: 700;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

.card--primary .badge--primary {
  background: #126de4;
}

.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.card--primary .plan__description {
  opacity: 0.65;
}

.plan .list__item {
  margin-bottom: 3rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../Images/popular.svg);
  display: inline-block;
  position: absolute;
  right: 5%;
  top: -6px;
  width: 40px;
}

.plan .btn {
  margin: 0;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .plan__container {
    width: 35rem;
  }

  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
    margin-right: 1.7rem;
  }

  .card__header .badge {
    font-size: 1.2rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }

  .plan .btn {
    padding: 1.5rem;
  }

  .plan .list__item {
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
}
/* Media */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

.media__body > p {
  margin: 0;
}
/* Quotes */

.quote {
  color: var(--color-body-darker);
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

.media__quote {
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

.quote .icon {
  width: 50px;
}

.quote__author {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.quote__organization {
  font-size: 2rem;
  opacity: 0.4;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2.4rem;
  }

  .quote .media {
    margin-top: 4rem;
  }

  .quote .quote__organization {
    font-size: 1.6rem;
  }
}

/* grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* testimonials*/
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 95%;
}

.testimonial__image > img {
  width: 100%;
  align-self: baseline;
  object-fit: cover;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* callouts */

.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
}

.callout__content {
  color: #fff;
  font-size: 2.4rem;
}

.callout__content {
  text-align: center;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout--primary .btn--secondary {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsible */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
  max-width: 1140px;
  margin: 0 auto; /*maring of 0 and auto allows for 0 vertical margin and automatic, equally distributed horizontal margin*/
}

/* navigation bar */

.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item {
  border-bottom: 1px solid #333;
  padding: 0.5rem 2rem;
}

.nav__item > a {
  color: #d2d0db;
  opacity: 0.8;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
  text-shadow: 2px 2px 6px rgb(229, 229, 229);
}

.nav__item > a:visited {
  color: white;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-around;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__item {
    border: 0;
  }
}

/* hero */

.hero__tagline {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  color: #b9c3cf;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

.hero__content .btn--stretched {
  padding-left: 14rem;
  padding-right: 14rem;
}

@media screen and (min-width: 768px) {
  .hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* domain block */

.block-domain .input-group {
  box-shadow: 0 0 30px 15px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 690px;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
  max-width: 730px;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    font-size: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}

/* plans block */
.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  .block-plans .card {
    min-width: 340px;
  }
}

/* features */
.block-features .features__title {
  text-align: center;
  margin: 11rem 0;
}

.feature__heading {
  margin: 1rem 0;
}

.block-features .grid {
  gap: 4rem 2rem;
  margin-bottom: 12rem;
}

.feature .media {
  flex-direction: column;
  align-items: flex-start;
  max-width: 580px;
}

.feature .media__body {
  margin: 0;
}

.feature .media__image {
  margin-bottom: 2.4rem;
}

.features__image {
  width: 100%;
}

.feature .media__title {
  color: var(--color-headings);
}

@media screen and (min-width: 768px) {
  .feature:first-of-type {
    margin-top: 6rem;
  }

  .feature .grid {
    margin-bottom: 15rem;
  }

  .feature .media__image {
    margin-bottom: 1rem;
  }

  .feature .icon--large {
    transform: scale(0.8);
  }

  .feature .icon-container--feature {
    transform: scale(0.8);
  }

  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* showcase block */
.block__header .block-showcase__media:last-of-type {
  margin-bottom: 12rem;
}

.block-showcase__image > img {
  width: 100%;
}

.block-showcase__media {
  margin-bottom: 3.5rem 0rem;
}

.block-showcase .media__title {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__media {
    margin-bottom: 4.5rem;
  }

  .block-showcase .block__heading {
    margin-bottom: 4rem;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }

  .block-showcase__media:first-child {
    margin-top: 2.5rem;
  }
}

/*Footer*/
.footer {
  background-color: #232323;
  height: 100%;
}

.footer {
  padding: var(--padding-vertical) 4.5rem;
}

.footer__section {
  border-bottom: 2px solid #393939;
  padding: 2rem 0;
}

.footer .collapsible--expanded {
  padding-bottom: 2.5rem;
}

.footer .collapsible__content,
.footer__copyright {
  color: #fff;
}

.footer__heading {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 1.7;
  margin: 0;
}

.footer__list {
  opacity: 0.5;
}

.footer__list a {
  color: #fff;
}

.footer__copyright {
  opacity: 0.3;
  font-size: 2.1rem;
}

.footer .list__item {
  margin: 2.5rem 0;
}

.footer__brand {
  justify-self: center;
  text-align: center;
  margin-top: 6rem;
}

.footer__brand-image > img {
  height: 9rem;
  margin: rem 0 2rem 0;
}

@media screen and (min-width: 1024px) {
  .footer__brand-image > img {
    width: 100%;
  }

  .footer__section {
    padding: 0;
  }

  .footer__brand {
    grid-column: 1/1;
    grid-row: 1/1;
    margin-top: 0;
  }

  .footer .collapsible {
    border-bottom: none;
  }

  .footer__list {
    max-height: 100%;
    /* TO DO: Consider implementing this as a universal rule for all img elements */
    opacity: 1;
    font-size: 1.5rem;
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer__heading {
    font-size: 1.6rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}
