<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem vero dolorum cumque ad praesentium omnis itaque.
    Voluptatum magni ea aperiam optio, laboriosam voluptas velit nesciunt ipsam et, culpa, odit quia?
  </div>
</div>

<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem vero dolorum cumque ad praesentium omnis itaque.
    Voluptatum magni ea aperiam optio, laboriosam voluptas velit nesciunt ipsam et, culpa, odit quia?
  </div>
</div>
<script src="js/main.js"></script>
