<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aut eos, adipisci ut atque vel rerum voluptatum
    explicabo totam incidunt facilis ad officia voluptatibus veniam nostrum vero? Expedita, magni nulla?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body media__quote">
        <h3 class="media__title quote__author">Mad Lad Mike</h3>
        <p class="quote__organization">Moroney Company Ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
